<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwExceptions="true"
      internalLogLevel="Off"
      internalLogFile="nlog-diagnostic.log">

  <!-- Intended for local environment -->

  <variable name="appName" value="${configsetting:name=AppName}" />

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
    <add assembly="NLog.Targets.Seq"/>
    <!-- UNCOMMENT if leveraging App Insights as a logging target-->
    <!-- <add assembly="Microsoft.ApplicationInsights.NLogTarget" /> -->
  </extensions>

  <!-- the targets to write to -->
  <targets async="true">
    
    <!-- Write to Seq -->
    <!-- set as Env Var of Logging:SeqServerUrl -->
    <!-- UNCOMMENT if using SEQ as diagnostic logging target -->

    <target xsi:type="Seq" name="seq" serverUrl="${configsetting:name=Logging.SeqServerUrl}" apiKey="">
      <property name="Application" value="${configsetting:name=AppName}" />
      <property name="Machine" value="${machinename}"/>
      <property name="Source" value="${logger}" />
      <property name="RequestUrl" value="${aspnet-request-url}"/>
      <property name="RequestMethod" value="${aspnet-request-method}"/>
      <property name="ExceptionType" value="${exception:format=Type}"/>
      <property name="ExceptionMessage" value="${exception:format=Message}"/>
      <property name="Context" value="${callsite:className=true:fileName=true:includeSourcePath=true:methodName=true}"/>
    </target> 
    <!-- -->
    
    <target xsi:type="Console"
            name="console"
            layout="${longdate}|level: ${uppercase:${level}}|logger: ${logger}|message: ${message} ${exception:format=tostring}|url: ${aspnet-request-url}|action: ${aspnet-mvc-action}"/>
  </targets>

  <!-- rules to map from logger name to target -->
  <rules>
  
    <!--Skip non-critical Microsoft logs and so log only own logs-->
    <logger name="Microsoft.*" maxlevel="Info" final="true" />
    
    <logger name="*" minlevel="Info" writeTo="console" />
    
    <!-- UNCOMMENT if leverage SEQ target -->
    <logger name="*" minlevel="Debug" writeTo="seq" />
    <!-- -->

  </rules>
</nlog>